.row {
  color: $secondary-color;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.875rem;

  &__title {
    font-size: 1.4rem;
    margin: 1.5rem 0;
    font-weight: 700;
    color: $tertiary-color;
  }

  &__name {
    font-size: 90%;
    padding-bottom: 1rem;
  }

  &__posters {
    display: flex;
    overflow-y: hidden;
    gap: 0.625rem;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__poster {
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.08);
    }
  }

  &__posterLarge {
    &:hover {
      transform: scale(1.09);
    }
  }

  &__image {
    max-height: 9.375rem;
    object-fit: contain;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    .row__posterLarge & {
      max-height: 15.625rem;
    }
  }

  .loading {
    color: $secondary-color;
    @include loading-and-error;
  }

  .error {
    color: $tertiary-color;
    @include loading-and-error;
  }
}
