$netflix-red: #e50914;
$netflix-black: #111;
$netflix-dark-gray: #222;
$netflix-light-gray: #e6e6e6;

$nav-height: 30px;
$banner-height: 450px;
$banner-content-padding: 140px;

$transition-fast: 0.2s;
$transition-medium: 0.5s;
