.page {
  &__wrapper {
    min-height: 100vh;
    padding: 1.5rem;
    contain: layout paint;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-anchor: none;
  }

  &__loading {
    text-align: center;
    font-size: 1.2rem;
    color: $secondary-color;
  }

  &__error {
    text-align: center;
    font-size: 1.2rem;
    color: $netflix-red-color;
  }

  &__noResults {
    text-align: center;
    font-size: 1.2rem;
    color: $secondary-color;
    padding: 2rem 0;
  }

  &__title {
    color: $netflix-red-color;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
}
