.moviePage {
  color: $secondary-color;
  padding: 2rem;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;

    @include respond-to("md") {
      flex-direction: row;
    }
  }

  &__poster {
    border-radius: 0.5rem;
  }

  &__details {
    flex: 1;
  }

  &__detailsTitle {
    margin: 1rem 0 0.5rem;
    color: $netflix-red-color;
  }

  &__detailsParagraph {
    margin: 1rem 0 0.5rem;
    line-height: 1.6;
  }

  &__detailsList {
    @include filter-type-and-filter-options-container;
  }

  &__detailsLink {
    @include filter-selector-and-link;
  }

  &__loading {
    text-align: center;
    font-size: 1.2rem;
    color: $secondary-color;
  }

  &__error {
    text-align: center;
    font-size: 1.2rem;
    color: $secondary-color;
  }
}

.hero {
  position: relative;
  text-align: center;

  &__backdrop {
    width: 100%;
    max-height: 25rem;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0.7rem;
    left: 0.8rem;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5rem 1rem;
    color: $secondary-color;

    @include respond-to("md") {
      font-size: 2rem;
    }
  }
}

.trailer {
  margin-top: 2rem;
}
