.banner {
  position: relative;
  height: 26rem;

  @include respond-to("md") {
    height: 32rem;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include respond-to("md") {
      background-size: cover;
    }
  }

  &__contents {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 0 1.5rem;
  }

  &__title {
    color: $netflix-red-color;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    @include respond-to("md") {
      font-size: 2.5rem;
    }
  }

  &__description {
    color: $secondary-color;
    font-size: 0.8rem;
    text-align: justify;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);

    @include respond-to("md") {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
