.contentFilter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0.5rem 0;

  @include respond-to("md") {
    margin: 1rem 0;
  }

  @include respond-to("lg") {
    margin: 1.25rem 0;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.8rem;
  }

  &__label {
    color: $secondary-color;
    font-size: 1rem;
  }

  &__typeButton {
    @include filter-selector-and-link;

    &--active {
      @include filter-selector-and-link-active;
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__option {
    @include filter-selector-and-link;
  }

  &__loading {
    @include loading-and-error;
    color: $secondary-color;
  }
}
