.filterContainer {
  @include filter-type-and-filter-options-container;

  .filterLabel {
    color: $secondary-color;
    font-size: 1rem;
  }

  .filterTypeSelector {
    @include filter-selector-and-link;
  }

  .filterTypeActive {
    @include filter-selector-and-link-active;
  }
}

.filterOptionsContainer {
  @include filter-type-and-filter-options-container;

  .filterTypeSelector {
    padding: 0.5rem 1rem;
  }
}

.loading,
.error {
  @include loading-and-error;
  color: $secondary-color;
}
